/Server/nbproject/private/
/Cliente/nbproject/private/
/Distri entrega proyecto 1/AgroServerCliente/nbproject/private/
/Entrega 1/Usuario/nbproject/private/
/Entrega 1/Fuente de consultas y proyectos/nbproject/private/
/Entrega 1/Manejador de proxys/nbproject/private/
/Entrega 1/Proxy/nbproject/private/
/Entrega 1/Usuario/build/
/Entrega 1/Proxy/build/
/Entrega 1/Manejador de proxys/build/
/Entrega 1/Fuente de consultas y proyectos/build/
/Entrega 1/ClasesdeComunicacion/nbproject/private/
/Entrega 1/ClasesdeComunicacion/build/
/Entrega 1/ClasesdeComunicacion/dist/
/Entrega 1/Proxy/dist/
/Entrega 1/Fuente de consultas y proyectos/dist/
/Entrega 1/Manejador de proxys/dist/
/Entrega 1/Usuario/dist/
/Proyecto 2/Cliente/nbproject/private/
/Proyecto 2/Servidor/nbproject/private/
/Proyecto 2/Coordinador/nbproject/private/
/Proyecto 2/Cliente/build/
/Proyecto 2/Coordinador/build/
/Proyecto 2/Banco/nbproject/private/
/Proyecto 2/Banco/build/
/Proyecto 2/Cliente/dist/
/Proyecto 2/Servidor/build/