/Server/nbproject/private/
/Cliente/nbproject/private/
/Distri entrega proyecto 1/AgroServerCliente/nbproject/private/
/Entrega 1/Usuario/nbproject/private/
/Entrega 1/Fuente de consultas y proyectos/nbproject/private/
/Entrega 1/Manejador de proxys/nbproject/private/
/Entrega 1/Proxy/nbproject/private/
/Entrega 1/Usuario/build/
/Entrega 1/Proxy/build/
/Entrega 1/Manejador de proxys/build/
/Entrega 1/Fuente de consultas y proyectos/build/
/Entrega 1/ClasesdeComunicacion/nbproject/private/
/Entrega 1/ClasesdeComunicacion/build/
/Entrega 1/ClasesdeComunicacion/dist/
/Entrega 1/Proxy/dist/
/Entrega 1/Fuente de consultas y proyectos/dist/
/Entrega 1/Manejador de proxys/dist/
/Entrega 1/Usuario/dist/